<!DOCTYPE html>
<html lang="en" ng-app="contactsAgenda">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contacts Agenda 0.0.x</title>

    <link href="css/main.css" rel="stylesheet">
    <!--Ladda-->
    <link rel="stylesheet" type="text/css" href="libs/ladda/dist/ladda-themeless.min.css">
    <!-- Bootstrap -->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container" >
        <div class="navbar-header" >
            <a class="navbar-brand"
               href="/" >Lists Of Contacts
            </a >
        </div >
    </div >
</nav >

<div class="container main-content" ng-controller="PersonsController">
    
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline well well-sm">
                <span class="glyphicon glyphicon-search"></span>
                <div class="form-group">
                    <input class="form-control"
                    type="text"
                    id="name"
                    ng-model="search"
                    placeholder="Search..."/>
                </div>

                <span class="glyphicon glyphicon-sort-by-attributes"></span>
                <div class="form-group">
                    <select class="fomr-control" ng-model="order">
                        <option value="name">Name (ASC)</option>
                        <option value="-name">Name (DEC)</option>
                        <option value="email">Email (ASC)</option>
                        <option value="-email">Email (DEC)</option>
                    </select>
                </div>
                
            </form>  
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-boardered">
                <tr>
                    <th>#</th>
                    <th>Name
                    <span ng-click="order = 'name'" class="glyphicon glyphicon-menu-up"></span>
                    <span ng-click="order = '-name'" class="glyphicon glyphicon-menu-down"></span>
                    </th>
                    <th>Email
                    <span ng-click="order = 'email'" class="glyphicon glyphicon-menu-up"></span>
                    <span ng-click="order = '-email'" class="glyphicon glyphicon-menu-down"></span>
                    </th>
                    <th>Birthdate</th>
                </tr>
                <tr ng-repeat="person in filteredPersons = (persons | filter:sensitiveSearch | orderBy:order)" ng-style="
                {
                'background-color': person.email == selectedPerson.email ? 'lightgray' : ''}
                "
                ng-click="selectPerson(person)">
                    <td>{{$index}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.birthdate |date: "dd.MMM.yyyy"}}</td>
                </tr>
                <tr ng-show="filteredPersons.length == 0">
                    <td colspan="4">
                        <div class="alert alert-info">
                            <p class="text-center">
                                No results found for "{{search}}"
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    <dl>
                        <dt>Name</dt>
                        <dd>{{selectedPerson.name}}</dd>
                        <dt>Email</dt>
                        <dd>{{selectedPerson.email}}</dd>
                        <dt>Birthdate</dt>
                        <dd>{{selectedPerson.birthdate | date:"dd.MMM.yyyy"}}</dd>
                        <dt>Phonenumber</dt>
                        <dd>{{selectedPerson.phonenumber}}</dd>
                        <dt>Address</dt>
                        <dd>{{selectedPerson.address}}</dd>
                        <dt>City</dt>
                        <dd>{{selectedPerson.city}}</dd>
                        <dt>Country</dt>
                        <dd>{{selectedPerson.country}}</dd>
                        
                        

                    </dl>
                </div>
            </div>    
        </div>

    </div>
</div >



    <!--angularJS-->
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <!--angular Auto Validate -->
    <script type="text/javascript" src="libs/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <!--ladda-->
    <script type="text/javascript" src="libs/ladda/dist/spin.min.js"></script>
    <script type="text/javascript" src="libs/ladda/dist/ladda.min.js"></script>
    <script type="text/javascript" src="libs/angular-ladda/dist/angular-ladda.min.js"></script>
    <!-- main JS -->
    <script type="text/javascript" src="js/main.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
</body >
</html >
